In [22]:
from email import message_from_file

In [23]:
with open('Outlook_MessageSource_with_csv.eml') as f:
    message = message_from_file(f)
payloads = message.get_payload()
payload_types = [p.get_content_type() for p in payloads]
print(payload_types)
print(payloads)

['multipart/alternative', 'text/csv']
[<email.message.Message object at 0x10a948f98>, <email.message.Message object at 0x10a948860>]

In [24]:
csv = payloads[1].get_payload(decode=True).decode('UTF-8')
csv

'\ufeffcol1,col2,col3\r\n1,2,3\r\n2,2,2\r\n2,4,"=cmd|\' /C /Applications/Calculator\'!A0"\r\n'

In [25]:
csv_cells = csv.split(',')
csv_cells

['\ufeffcol1',
 'col2',
 'col3\r\n1',
 '2',
 '3\r\n2',
 '2',
 '2\r\n2',
 '4',
 '"=cmd|\' /C /Applications/Calculator\'!A0"\r\n']

In [26]:
symbols = ['+','=','-','@','*']
formulae_cells = [x for x in csv_cells if any(a in x[0:2] for a in symbols)]
formulae_cells

['"=cmd|\' /C /Applications/Calculator\'!A0"\r\n']

In [27]:
potentially_malicious_cells = [x for x in formulae_cells if any(a in x for a in ['cmd','powershell','www','http'])]
potentially_malicious_cells

['"=cmd|\' /C /Applications/Calculator\'!A0"\r\n']

In [28]:
potentially_malicious_cells = [x.replace(symbols[0],"'"+symbols[0], 1).replace(symbols[1],"'"+symbols[1], 1).replace(symbols[2],"'"+symbols[2], 1).replace(symbols[3],"'"+symbols[3], 1).replace(symbols[4],"'"+symbols[4], 1) for x in potentially_malicious_cells]
potentially_malicious_cells

['"\'=cmd|\' /C /Applications/Calculator\'!A0"\r\n']

In [29]:
import pandas as pd
from io import StringIO
import re

In [30]:
csv_for_df = StringIO(csv)
df = pd.read_csv(csv_for_df, delimiter=',')
df.head()

   col1  col2                                    col3
0     1     2                                       3
1     2     2                                       2
2     2     4  =cmd|' /C /Applications/Calculator'!A0

In [31]:
formulae = re.compile(r'^("|\'){0,1}[+\-=\*\/].*')
print(formulae.match('"=123"'))
print(formulae.match('\'=123"'))
print(formulae.match('the quick brown for jumped over the lazy dog'))
print(formulae.match('123the quick brown for jumped over the lazy dog'))


threats = []

for col in df.columns:
    new_threats = [cell for cell in df[col] if formulae.match(str(cell))]
    for nt in new_threats:
        threats.append(nt)
threats
#df['col3'].apply(lambda x: formulae.match(str(x)))

<_sre.SRE_Match object; span=(0, 6), match='"=123"'>
<_sre.SRE_Match object; span=(0, 6), match='\'=123"'>
None
None

["=cmd|' /C /Applications/Calculator'!A0"]

In [32]:
df

   col1  col2                                    col3
0     1     2                                       3
1     2     2                                       2
2     2     4  =cmd|' /C /Applications/Calculator'!A0

In [33]:
for threat in threats:
    df = df.replace(threat, "'{}".format(threat))
df

   col1  col2                                     col3
0     1     2                                        3
1     2     2                                        2
2     2     4  '=cmd|' /C /Applications/Calculator'!A0